@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0 auto;
  height: 100%;
  font-family: 'Work Sans', sans-serif;
  /* background-color: burlywood; */
}

.container {
  padding: 0 30px;
  max-width: 1200px;
  margin: 0 auto;
}

p {
  font-family: 'Work Sans', sans-serif;
}

.App {
  /* background-color: aquamarine; */
}

.main-menu-logo {
  height: 100px;
  margin: 30px 0;
}
.main-menu-logo-mob {
  margin-top: 30px;
  width: 80%;
  max-width: 320px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.wrap-menu {
  margin-top: 44px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.menu-link {
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none ;
  padding: 0 10px;
  cursor: pointer;
  margin: 10px 0;
}

a.menu-link:link    {color: #464643;}
a.menu-link:visited {color: #464643;}
a.menu-link:hover   {color: #000000;}
a.menu-link:focus   {color: #464643; text-decoration: underline;}


.menu-btn-link {
  border: 1px #464643 solid;
  border-radius: 1000px;
  padding: 8px 12px;

  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none ;
  cursor: pointer;
}

a.menu-btn-link:link    {color: #464643;}
a.menu-btn-link:visited {color: #464643;}
a.menu-btn-link:hover   {color: #FFFFFF; background-color: #464643;}
a.menu-btn-link:focus   {color: #464643;}



.menu-mobile {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: #FFFFFF;
  padding-top: 30vh;
}

.wrap-menu-mobile {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-flow: column;
}

.menu-link-mobile {
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none ;
  padding-bottom: 30px;
  cursor: pointer;
}

a.menu-link-mobile:link    {color: #464643;}
a.menu-link-mobile:visited {color: #464643;}
a.menu-link-mobile:hover   {color: #000000;}
a.menu-link-mobile:focus   {color: #464643; text-decoration: underline;}

.menu-btn-link-mobile {
  margin-top: 30px;
  border: 1px #464643 solid;
  border-radius: 1000px;
  padding: 14px 22px;

  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none ;
  cursor: pointer;
}

a.menu-btn-link-mobile:link    {color: #464643;}
a.menu-btn-link-mobile:visited {color: #464643;}
a.menu-btn-link-mobile:hover   {color: #FFFFFF; background-color: #464643;}
a.menu-btn-link-mobile:focus   {color: #464643;}



.main-video {
  width: 100%;
  height: auto;
  /* height: 674px; */
  overflow: hidden;
}

.main-img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

h1 {
  color: #464643;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  letter-spacing: .13em;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-top: 0;
}

h2 {
  color: #464643;
  font-weight: 300;
  font-style: normal;
  font-size: 42px;
  letter-spacing: .13em;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-top: 0;
}

h3 {
  color: #464643;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 1.2em;
  text-transform: none;
  /* font-family: Dosis; */
  font-weight: 500;
  font-style: normal;
  font-size: 11px;
  letter-spacing: .22em;
  line-height: 1.33em;
  text-transform: uppercase;
}

h4 {
  color: #464643;
  font-size: 12px;
  line-height: 1.68em;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}

h5 {
  color: #464643;
  text-align: center;
  white-space: pre-wrap;
  /* font-family: omnes-pro; */
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  letter-spacing: .13em;
  line-height: 1.8em;
  text-transform: uppercase;
}

h6 {
  color: #464643;
  font-family: Dosis;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  letter-spacing: .22em;
  line-height: 1.33em;
  text-transform: uppercase;
}

.main-text {
  white-space: pre-wrap;
  color: #464643;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  letter-spacing: .04em;
  line-height: 1.87em;
  text-transform: none;
}

.footer-text {
  white-space: pre-wrap;
  color: #464643;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  letter-spacing: .04em;
  line-height: 1.87em;
  text-transform: none;
}

.tech-info {
  font-size: 12px;
}

.main-button {
  font-size: 12px;
  font-weight: 300;
  font-style: normal;

  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 16px 40px;

  /* letter-spacing: .13em; */
  color: #fff;
  background-color: #d0cdb9;
  border-color: #d0cdb9;  
}

.f-work-main {
  width: 78%;
}

.fw-link {
  color: #464643;
  text-decoration: none;
  -webkit-transition: color .15s ease-out;
  -moz-transition: color .15s ease-out;
  -ms-transition: color .15s ease-out;
  -o-transition: color .15s ease-out;
  transition: color .15s ease-out;
  padding-bottom: 0.05em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(70, 70, 67, .3);

  font-size: 12px;
  line-height: 1.68em;
  /* text-transform: uppercase; */
}

.view-more {
  color: #464643;
  font-size: 14px;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  word-wrap: break-word;
}

.arrow-list {
  background-color: rgb(246, 247, 246);
  padding: 10px;
  border: 0px solid white;
  border-radius: 30px;
  width: 16px;
  height: 16px;
  margin-right: 16px;
  cursor: pointer;
}

.portfolio-link {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  /* font-size: 36px; */
  text-decoration: none;
  text-decoration-thickness: 1px;
  text-align: center;
  color: #000000;
  letter-spacing: normal;
}
.portfolio-img {
  width: 80%;
  margin-left: 10%;
}

.spacing-18   { height: 18px;   width: 100%; }
.spacing-24   { height: 24px;   width: 100%; }
.spacing-36   { height: 36px;   width: 100%; }
.spacing-48   { height: 48px;   width: 100%; }
.spacing-64   { height: 64px;   width: 100%; }
.spacing-96   { height: 96px;   width: 100%; }
.spacing-128  { height: 128px;  width: 100%; }

.yarl__container {
  background-color: rgba(255,255,255,0.95) !important;
}


/* Mob devices styles (to 768px) */
@media (max-width: 768px) {
  h1 {
    font-size: 18px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h3 {
    font-size: 11px;
  }
  
  h4 {
    font-size: 12px;
  }
  
  h5 {
    font-size: 18px;
  }
  
  h6 {
    font-size: 11px;
  }
}
